services:
  - type: web
    name: portfolio-resume
    runtime: docker
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        value: base64:LvMcmEVVvCc1zBQAOOOBGb3o00egYhmMJqWVurtPR04=
      - key: LOG_CHANNEL
        value: stderr
